If:
  PathMatch: "(ssh\/.*)|(ids\/.*)|(backend\/.*)|(dependencies\/Nui\/.*)"
  PathExclude: "(dependencies\/Nui\/nui\/include\/nui\/frontend.*)"
CompileFlags:
  CompilationDatabase: "build/clang_debug"
  Add:
    - "-IE:/DevelopmentFast/scp/build/clang_debug/_deps/emscripten-src/upstream/emscripten/system/include"
    - "-ID:/msys2/clang64/include"
    - "-D__cplusplus=202302L"
---
If:
  PathMatch: "(frontend\/.*)|(nui-file-explorer\/.*)|(dependencies\/Nui\/nui\/include\/nui\/frontend.*)"
CompileFlags:
  CompilationDatabase: "build/clang_debug/module_nui-scp"
  Add:
    - "-D__EMSCRIPTEN__"
    - "-IE:/DevelopmentFast/scp/build/clang_debug/_deps/emscripten-src/upstream/emscripten/system/include"
    - "-ID:/msys2/clang64/include"
