CompileFlags:
  CompilationDatabase: "./build/clang_debug/compile_commands.json"
  Add:
  - "-I./utility/include"
  - "-I./persistence/include"
  - "-I./backend/include"
  - "-I./frontend/include"
  - "-I./frontend/include"