.nui-file-grid-head-dropdown-text {
    padding: 10px 20px;
}

.nui-file-grid-head-dropdown {
    height: 32px;
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: var(--nui-file-grid-border-radius);
    background-color: var(--nui-file-grid-dropdown-background);
    cursor: pointer;
    border: var(--nui-file-grid-border-width) solid var(--nui-file-grid-border-color);
    white-space: nowrap;
    overflow: visible;
    color: var(--nui-file-grid-dropdown-color);
    text-overflow: ellipsis;
}

.nui-file-grid-head-dropdown-content {
    position: absolute;
    z-index: 5;
    min-width: 160px;
    min-height: 5px;
    padding: 5px 0;
    margin: 0 -1px 0 0;
    background-color: var(--nui-file-grid-dropdown-content-background);
    border: var(--nui-file-grid-border-width) solid var(--nui-file-grid-border-color);
    border-radius: var(--nui-file-grid-border-radius);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    color: var(--nui-file-grid-dropdown-item-color);
}

.nui-file-grid-head-dropdown-button {
    transition: filter 0.3s ease;
    border-left: 1px solid color-mix(in srgb, var(--nui-file-grid-border-color), white 35%);
    background-color: var(--nui-file-grid-dropdown-background);
    padding-left: 8px;
    padding-right: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.nui-file-grid-head-dropdown-button:hover {
    filter: brightness(130%);
}

.nui-file-grid-head-dropdown-button-arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--nui-file-grid-arrow-color);
}

.nui-file-grid-head-dropdown-content-item {
    transition: filter 0.3s ease;
    padding: 5px;
    cursor: pointer;
    color: var(--nui-file-grid-dropdown-item-color);
    font-size: var(--nui-file-grid-dropdown-content-font-size);
    background-color: var(--nui-file-grid-dropdown-content-background);
    padding: 10px 15px;
}

.nui-file-grid-head-dropdown-content-item:hover {
    filter: brightness(150%);
}