.nui-file-grid-icons {
    display: grid;
}

.nui-file-grid-item-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;

    & img {
        position: relative;
    }

    & div {
        margin-top: 4px;
        text-align: center;
        font-size: small;
        word-break: break-word;
    }
}

.nui-file-grid-item-icons:hover {
    background-color: var(--nui-file-grid-item-highlight);
}

.nui-file-grid-item-icons:is(.selected) {
    background-color: var(--nui-file-grid-item-highlight);
    border: 1px solid var(--nui-file-grid-border-color);
    border-radius: var(--nui-file-grid-border-color);
}

.nui-file-grid-head {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px;
    width: 100%;
    font-size: var(--nui-file-grid-head-font-size);
    border-bottom: 1px solid var(--nui-file-grid-border-color);
}

.nui-file-grid-filter {
    display: flex;
    align-items: center;

    img {
        width: 32px;
        height: 32px;
        padding: 4px;
    }

    input {
        background-color: var(--nui-file-grid-filter-background);
        color: var(--nui-file-grid-filter-color);
        border-radius: var(--nui-file-grid-border-radius);
        padding: 4px;
        height: 32px;
        width: 256px;
        border: 1px solid var(--nui-file-grid-border-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow: none;
        transition: box-shadow 0.3s ease-in-out;
        border-style: none;

        &:focus {
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
        }
    }
}