.nui-file-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nui-file-grid-icons {
    display: grid;
}

.nui-file-grid-context-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    background-color: var(--nui-file-grid-context-menu-background);
    border: 1px solid var(--nui-file-grid-border-color);
    border-radius: var(--nui-file-grid-border-radius);
}

.nui-file-grid-item-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;

    & img {
        position: relative;
        cursor: pointer;
    }

    & div {
        margin-top: 4px;
        text-align: center;
        font-size: small;
        word-break: break-word;
        cursor: default;
    }
}

.nui-file-grid-item-icons:hover {
    background-color: var(--nui-file-grid-item-highlight);
}

.nui-file-grid-item-icons:is(.selected) {
    background-color: var(--nui-file-grid-item-highlight);
    border: 1px solid var(--nui-file-grid-border-color);
    border-radius: var(--nui-file-grid-border-color);
}

.nui-file-grid-head {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px;
    width: 100%;
    font-size: var(--nui-file-grid-head-font-size);
    border-bottom: 1px solid var(--nui-file-grid-border-color);
}

.nui-file-grid-filter {
    display: flex;
    align-items: center;

    img {
        width: 32px;
        height: 32px;
        padding: 4px;
    }

    input {
        background-color: var(--nui-file-grid-filter-background);
        color: var(--nui-file-grid-filter-color);
        border-radius: var(--nui-file-grid-border-radius);
        padding: 4px;
        height: 32px;
        width: 256px;
        border: 1px solid var(--nui-file-grid-border-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow: none;
        transition: box-shadow 0.3s ease-in-out;
        border-style: none;

        &:focus {
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
        }
    }
}

.nui-file-grid-path-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px;
    width: 100%;
    font-size: var(--nui-file-grid-path-bar-font-size);

    /* Refresh Button */
    & div {
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg height='100%' viewBox='0 0 1792 1792' width='100%' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1639 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zm25-800v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z'/%3E%3C/svg%3E");
        padding-right: 5px;
        filter: invert(100%);
        width: 32px;
        height: 32px;
    }

    /* Path */
    & input {
        background-color: var(--nui-file-grid-filter-background);
        color: var(--nui-file-grid-filter-color);
        border-radius: var(--nui-file-grid-border-radius);
        padding: 4px;
        height: 32px;
        width: 256px;
        border: 1px solid var(--nui-file-grid-border-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow: none;

        &:focus {
            outline: none;
            box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
        }
    }
}