.main-page {
    display: grid;
    grid-template-areas:
        "Toolbar Toolbar"
        "Sidebar SessionArea";
    grid-template-columns: 200px auto;
    grid-template-rows: min-content auto;
    height: 100%;
}