.terminal-session {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.terminal-session>div {
    height: 100%;
    width: 100%;
}

.terminal-session-visible {
    /* display: block; */
    z-index: 1;
    visibility: visible;
}

.terminal-session-hidden {
    /* display: none; */
    visibility: hidden;
    z-index: 0;
}

.terminal-session *::-webkit-scrollbar {
    width: 10px;
}

.terminal-session *::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}

.terminal-session *::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #363636;
    border: 1px solid #202020;
    box-shadow: inset 0 0 6px rgba(240, 240, 240, .5);
}