.session-area {
    grid-area: SessionArea;
    display: flex;
    flex-direction: column;
}

.session-area-content {
    flex: 1;
}

.session-area-tabs::part(content) {
    padding: 0;
}

.session-area-tabs::part(tabstrip) {
    padding: 0;
    --_ui5-v1-24-7_tc_headeritem_padding: 5px;
}